h1 {
  margin: 10px;
  padding: 20px;
}
.card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
  padding: 25px;
  background-color: var(--third-color);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

/* Responsive Design */
@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }

  .card_container {
    margin: 10px;
    padding: 15px;
  }

  .card_container > * {
    min-width: 0;
  }
}
