.card_Completion {
  margin: 20px;
  border-radius: 5px;
}

.inner_completion {
  border: 1px solid #ccc;
  height: 350px;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}
h2 {
  padding: 10px;
  font-weight: 600;
  font-style: italic;
}
