.card {
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 45px 20px;
  border-radius: 15px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  border: 2px solid orange;
}

.title {
  font-size: 25px;
  font-weight: 600;
}
.buttonText {
  margin: 10px;
  background-color: #4caf50;
  padding: 15px;
  cursor: pointer;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  border: none;
  transition: background-color 0.3s ease;
}

.buttonText:hover {
  background-color: rgb(4, 91, 4);
}

@media (max-width: 700px) {
  .card_container {
    grid-template-columns: 1fr;
  }
  .card {
    padding: 20px;
    min-height: 250px;
  }

  .title {
    font-size: 22px;
  }
  .buttonText {
    font-size: 18px;
    padding: 12px;
  }
}
