.formWrapper h3 {
  font-size: 30px;
  text-align: center;
}
.formWrapper form {
  margin: 5px;
  padding: 15px;
  background: #fbfbfb;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-radius: 8px;
}
.formWrapper input {
  background: #fbfbfb;
  border: 0;
  outline: 0;
  color: #333;
  font-size: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 15px;
  font-family: var(--font-body);
}
.checklabel_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checklabel_box label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}
.checklabel_box input[type="checkbox"] {
  width: 18px;
  height: 18px;
  box-shadow: none;
  padding: 0;
}
.formWrapper input[type="text"],
.formWrapper input[type="date"] {
  width: 100%;
}
button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #555;
}
.submitbtn {
  background-color: #0b13e4;
}
.cancelbtn {
  background-color: #e40b0b;
}

@media (max-width: 700px) {
  .formWrapper form {
    flex-direction: column;
  }
}
