* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
  height: 50px;
  background-color: #ff6f6f;
  color: #000000;
  padding: 15px 0;
  display: flex;
  align-items: center;
}

.nav_links {
  width: 80%;
  margin-left: 80px;
}
.nav_links ul {
  display: flex;
  gap: 30px;
  margin: 50px;
  display: flex;
  justify-content: space-between;
}
.nav_links li {
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color 0.3s;
}
.navbar img {
  height: 40px;
  margin-right: 100px;
}
.main_container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(to right, #fff1b8, #ffd6e9);
}
.right_container {
  padding: 80px;
  height: 50%;
  height: 100%;
  align-items: center;
}
.right_container h1 {
  font-size: 40px;
  letter-spacing: 5px;
  margin: 50px;
  color: #000000;
}
.right_container p {
  font-size: 15px;
  line-height: 1.6;
}

button {
  width: 200px;
  margin-top: 80px;
  padding: 15px;
  font-size: 12px;
  background-color: #ff6f6f;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.left_container img {
  width: 100%;
  height: 100%;
}

/* bottom page */
.bottom_container {
  min-height: 100vh;
  height: auto;
  padding: 60px;
  align-items: center;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 50px;
  background: linear-gradient(90deg, #fff1c8 0%, #ffd6d6 55%, #e380b0 100%);
}

.right_bottom {
  display: grid;
  grid-template-columns: 0.5fr 1.2fr;
  gap: 15px;
  align-items: stretch;
  height: 600px;
  overflow: hidden;
}
.right_side {
  height: 100%;
  width: 80%;
}

.left_side {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: auto;
}
.right_side img,
.left_side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* bottom left-section */
.left_bottom {
  padding: 50px;
  background: #ff6f6f;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* small title */
.left_bottom .small_title {
  font-size: 15px;
  margin: 0 0 18px 0;
}

/* main heading */
.left_bottom h2 {
  color: #000;
  font-size: 42px;
  letter-spacing: 8px;
  line-height: 1.2;
  margin-bottom: 30px;
  text-align: left;
}
/* click row */
.bottom_text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* arrow icon */
.bottom_text img {
  width: 20px;
  height: auto;
}

/* tablet */
@media (max-width: 1024px) {
  .nav_links {
    width: 100%;
    margin-left: 20px;
  }

  .nav_links ul {
    margin: 0;
    gap: 20px;
  }

  .main_container {
    grid-template-columns: 1fr;
    height: auto;
  }

  .right_container {
    margin: 40px;
  }

  .bottom_container {
    grid-template-columns: 1fr;
    height: auto;
  }

  .right_bottom {
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
}

/* mobile device*/
@media (max-width: 700px) {
  .navbar {
    height: auto;
    padding: 10px;
    text-align: center;
  }

  .navbar img {
    display: none;
  }

  .nav_links ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .main_container {
    grid-template-columns: 1fr;
    height: auto;
  }

  button {
    width: 100%;
    margin-top: 30px;
  }

  .bottom_container {
    grid-template-columns: 1fr;
    min-height: auto;
    padding: 30px;
  }
  .right_bottom {
    grid-template-columns: 1fr;
  }

  .left_side {
    grid-template-rows: 1fr 1fr;
  }

  .left_bottom {
    margin: 20px;
    padding: 30px;
  }

  .left_bottom h2 {
    font-size: 28px;
    letter-spacing: 4px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  .nav_links {
    width: 100%;
    margin-left: 0;
  }
  .nav_links ul {
    margin: 0;
    padding: 10px 0;
    gap: 10px;
  }
  .main_container {
    height: auto;
    min-height: 100vh;
  }

  .left_container img {
    width: 100%;
  }
  .right_container {
    padding: 20px;
  }
  .right_side {
    height: auto;
    width: auto;
  }

  .bottom_container {
    padding: 20px;
  }

  .right_bottom {
    height: auto;
    overflow: visible;
  }

  button {
    width: 100%;
    font-size: 14px;
  }
}
